<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="15 seconds">

    <property name="defaultPattern"
        value="%d{HH:mm:ss.SSS}|%-5.5level| %msg  |%-36.36logger{36}%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/log-${bySecond}.txt</file>
        <append>true</append>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <logger name="de.chris0385" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>